<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá <%= @user.name %></h1>
    <p>
      Uma nova troca foi enviada para voce, verifica as propostas recebidas
    </p>
  </body>
</html>
